<div class="sidebar-wrap">
	<div class="sidebar-brand">
		<div class="brand-mark">MB</div>
		<div>
			<div class="fw-bold">Maverick Bank</div>
			<small>Admin Panel</small>
		</div>
	</div>

	<nav class="sidebar-nav">
		<a href="/modules/dashboard/admin-dashboard.html">Dashboard</a>
		<div class="menu-title">Users</div>
		<a href="/pages/users/create-user.html">Create User</a> <a
			href="/pages/users/view-users.html">View Users</a>

		<div class="menu-title">Customers</div>
		<a href="/pages/customers/create-customer.html">Create Customer</a> <a
			href="/pages/customers/view-customers.html">View Customers</a>

		<div class="menu-title">Employees</div>
		<a href="/pages/employees/create-employee.html">Create Employee</a> <a
			href="/pages/employees/view-employees.html">View Employees</a>

		

		<div class="menu-title">Session</div>
		<a href="#" onclick="logout(); return false;">Logout</a>
	</nav>
</div>
